.title{
    font-size: 42px;
    width: 100%;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    padding-bottom: 20px;
}
.form input{
    width: 100%;
    height: 50px;
    background: rgba(245, 245, 245, 0.9);
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    border: none;
}
.form textarea{
    margin: 20px 0px;
    padding: 10px;
    height: 150px;
    background: rgba(245, 245, 245, 0.9);
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    width: calc(100% - 20px);
    border: none;
}
.form button{
    width: 100%;
    height: 50px;
    border:none;
    border-radius: 10px;
    background-color: #111111;
    color: #fff;
    font-size: 24px;
}
@media only screen and (max-width : 1250px){
    .form{
        width: 850px;
    }
}
@media only screen and (max-width : 900px){
    .form{
        width: 700px;
    }
}
@media only screen and (max-width : 750px){
    .form{
        width: 550px;
    }
}
@media only screen and (max-width : 600px){
    .form{
        width: 500px;
    }
}
@media only screen and (max-width : 550px){
    .form{
        width: 400px;
    }
}
@media only screen and (max-width : 450px){
    .form{
        width: 350px;
    }
}
@media only screen and (max-width : 400px){
    .form{
        width: 300px;
    }
}
@media only screen and (max-width : 350px){
    .form{
        width: 250px;
    }
}
@media only screen and (max-width : 300px){
    .form{
        width: 200px;
    }
}
@media only screen and (max-width : 250px){
    .form{
        width: 150px;
    }
}
@media only screen and (max-width : 200px){
    .form{
        width: 100px;
    }
}


