@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: normal;
}
@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: roboto-italic;
  src: url('/fonts/Roboto-LightItalic.ttf');
  font-weight: lighter;
}
*{
  font-family: roboto;
  font-weight: lighter;
}
body{
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #111111;
}
::selection{
  background: rgba(240,240,240, 0.7);
  backdrop-filter: saturate(50%);
}
.normal-font{
  font-weight: normal;
  font-family: roboto;
}
.main{
  width: calc(100% - 20px);
  min-height: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}